/* Menu */
#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.menu__btn {
  position: absolute;
  top: 33px;
  left: -90px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 250px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #CFD8DC;
}

/* User Role */
.role {
  font-size: 0.875rem;
  color: grey;
}

/* Character Counters */
#count-postTitle {
  float: right;
  padding: 0.1rem 0 0 0;
  font-size: 0.875rem;
  color: grey;
}
#count-postText {
  float: right;
  padding: 0.1rem 0 0 0;
  font-size: 0.875rem;
  color: grey;
}
#count-commentText {
  float: right;
  padding: 0.1rem 0 0 0;
  font-size: 0.875rem;
  color: grey;
}

/* Header and Button alignment */
.flex-header {
  display: flex;
}

/* Pages Info */
.info-message {
  text-align: center;
}

/* Password Info */
.info {
  padding: 0.1rem 0 0 0;
  font-size: 0.775rem;
  color: grey;
}

/* Error Messages */
.error {
  padding: 0.1rem 0 0 0;
  font-size: 0.775rem;
  color: red;
}

/* Search */
.searchbar {
  width: 50%;
  margin: auto;
  text-align: center;
}
input[type="search"] {
  height: 35px;
  border: 1;
  border-width: thin;
  outline: 0;
  color: #333;
  font-size: 1rem;
  width: 100%;
  background: white;
  padding: 0 1.6rem;
  border-radius: 0.7rem;
  appearance: none;
  transition: all 0.3s cubic-bezier(0, 0, 0.43, 1.49);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
}
#accordionTags > div > h2 > button {
  padding: 5px;
  background-color: white;
  border-radius: 0.7rem;
  box-shadow: none;
  font-size: 0.9rem;
  color: #333;
}
#accordionTags > div {
  border-color: darkgrey;
  border: 1;
}
.orderby {
  padding: 5px;
  border-color: darkgray;
  font-size: 0.9rem;
  color: #333;
}

#accordionQTags > div > h2 > button {
  padding: 7px;
}

/* Avatar */
#avatar {
  display: none;
}
#avatarLabel {
  cursor: pointer;
  border-radius: 0.7rem;
  text-align: center;
}
#avatarName {
  color: #333;
}
#avatarDiv {
  align-items: center;
}

/* Edit Buttons */
.buttons {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.tagsTable {
  text-align: center;
}

/* Badges */
.badgeLabel {
  cursor: alias;
  margin-bottom: 10px;
}

/* Buttons */
.outlined {
  border: 1px;
  border-style: solid;
  border-color: #333;
}
.cardBtn{
  color: darkgray;
  padding: 0;
  padding-right: 5px;
  font-size: 0.9rem;
}
.delete {
  color: darkgray;
  padding: 0;
  padding-right: 5px;
  font-size: 0.9rem;
}
.addCommentBtn {
  padding: 0;
  padding-left: 10px;
}
.addAnswerBtn {
  padding: 0;
  padding-left: 10px;
  padding-top: 5px;
}

.editedLabel {
  color: grey;
  font-size: small;
}

.starLabel {
  color: #333;
  font-size: small;
}